.root {
    background-image:url('../../images/image2.jpg');
    background-size:cover ;
}
body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
}


